<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% if params[:plan] == '6' %>
      <h1 class="text-center main-header">Pro Account</h1>
      <h2 class ="text-center main-header">Sign up for the pro account for $5/month and get access to the community's contact information!</h2>
    <% elsif params[:plan] == '2' %>
      <h1 class="text-center main-header">Basic Account</h1>
      <h2 class="text-center main-header">Sign up for free and get basic access to the community.</h2>
    <% else %>
      
    <% end %>
  </div>
  <div class="col-md-6 col-md-offset-3">
      <% if params[:plan] == '6' %>
        <div class ="well">
          <h2 class="sign-up">Create an account:</h2>
          <%= render "pro_form" %>
        </div>
        
      <% else params[:plan] == '2' %>
        <div class ="well">
          <h2 class="sign-up">Create an account:</h2>
          <%= render "basic_form" %>
        </div>
        
      <% end %>
        <%= render "devise/shared/links" %>
  </div>
</div>
