<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>You have received a message from DevLink Bio's contact form, from <%= "#{@name}, #{@email}."%></h1>
        
        <p><%= @body %></p>
    </body>
</html>