<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h6>You have received a message from DevLink Bio's contact form,<br/> from <%= "#{@name}, #{@email}."%></h6>
        
        <p><%= @body %></p>
    </body>
</html>