#Intro {
    color: #3ac122;
}

#contact {
    color: #ad6400;
}

#contact-info {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    display: inline-block;
    margin-bottom: 20px;
}

#description {
    margin-bottom: 20px;
}
