#Intro {
    color: #3ac122;
}

#contact {
    color: #ad6400;
}

#contact-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 50px;
}

#description {
    margin-bottom: 20px;
}
